/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    background-color: rgb(184, 184, 184);
    font-size: x-large;
    margin: 0 3%;
  }
  article {
  }
  
  h1 {
    font-size: 1.5rem;
  }
  h2 {
  }
  img {
    max-width: 100%;
  }
  main {
  }
  section {
  }
  figure {
    margin: 0;
  }
  figcaption {
    font-size: .8em;
  }


@media screen and (max-width: 768px) {
    body {
        background-color: rgb(224, 169, 169);
        margin: 0 2%;
        max-width: 100%;
        text-align: center;
    }

    section {
        display: flex;
        width: 700px;
        margin: 5px;

        
    }
    figure {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 5px;
        
    }
}